!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.launch
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.sublime-workspace
*.suo
*.sw?
.DS_Store
.c9/
.classpath
.history/*
.idea
.idea/
.project
.sass-cache/
.settings/
.vscode/*
/.angular/cache
/bazel-out
/connect.lock
/coverage
/cypress/downloads/
/cypress/screenshots/
/cypress/videos/
/libpeerconnection.log
/node_modules
/out-tsc
/tmp
/typings
Thumbs.db
coverage
dist
dist-ssr
lerna-debug.log*
logs
node_modules
npm-debug.log
npm-debug.log*
pnpm-debug.log*
testem.log
yarn-debug.log*
yarn-error.log
yarn-error.log*
local.db
